.InfoBox {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #ffffff50;
  width: 20vw;
  height: 15vw;
}

.mail.big.disabled.icon.InfoIcon {
  margin-top: 1vw;
  margin-left: 1vw;
}