.App {
  text-align: center;
  background-color: slategray;
  width: 100%;
  height: 100%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.Content {
  /* background-color: red; */
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Menu {
  width: 100%;
  margin-left: auto!important;
  margin-right: auto!important;
}